
.infoItem-page {
  display: flex;
  height: 100px;
  align-items: center;
  border-bottom: 2px solid #eeeeee;
  position: relative;
  .icon {
    width: 40px;
    height: 40px;
    display: flex;
    .taro-img,image {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
  }
  .content {
    display: flex;
    margin-left: 20px;
    font-size: 30px;
    color: #666666;
  }
  .arrow {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    right: 0;
  }
}

