.addressList-page {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 170px;


  .add {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    font-size: 35px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EC5D75;
    image, taro-img {
      width: 35px;
      height: 35px;
      display: inline-block;
      margin-right: 6px;
    }
  }
}
